<!DOCTYPE html>
<html>
  <head>
    <title>Elibrary</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style ="text-align: center;">Elibrary System</h1>
    <h3><a href="/info/admin">Admin login</a></h3>
    <br>
    <h3><a href="/info/userlog">User login</a></h3>
  </body>
</html>
